.categories {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.categoryitem {
    width: 15%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 5px;
}

.categoryitemimg {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.categoryitemtitle {
    font-size: 20px;
    color: var(--primary-color);
}

@media(max-width: 1200px){
    .categoryitem {
        width: 26%;
    }
}

@media(max-width: 920px){
    .categories {
        padding: 15px;
    }
    .categoryitem {
        width: 45%;
    }
}

@media(max-width: 520px){
    .categoryitem {
        width: 80%;
    }
}