
/* src/components/admin/admin.module.css */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* src/components/admin/admin.module.css */
.admin
  {
      background-image: url("../../../../img/bg2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      gap: 30px;
      width: 100%; /* Ensure the admin container takes full width of its parent */
      max-width: 100%; /* Prevent overflow */
      box-sizing: border-box; /* Include padding and border in the element's total width and height */  
  }  

  .adminLinks nav
  {
      background-color: rgb(195, 199, 199);
      width: 250px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .adminLinks nav a
  {
      margin-bottom:1px ;
      text-decoration: none;
      height: 50px;
      width: 245px;
      font-size: 20px;
      font-family:'Courier New', Courier, monospace;
      color: white;
      font-weight: 700;
      background-color: rgb(16, 125, 241);
      border: 2px solid rgb(16, 125, 241);
      padding: 5px 15px;
      transition: 0.8s;
      -webkit-transition: 0.8s;
      -moz-transition: 0.8s;
      -ms-transition: 0.8s;
      -o-transition: 0.8s;
  }
  .adminLinks nav a:hover
  {
      background-color: white;
      color: black;
  }

  .data {
    flex: 1; /* Make the .data container take up the remaining space */
    box-sizing: border-box;
}

/* ProdcerAdded */
.card
{
width: 285px;
height: 335px;
border: 1px solid #0000001A;
}
.card img
{
width: 265px;
height: 165px;
margin: 10px;
}
.price
{
font-family: "Roboto", sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 28.13px;
margin-right:10px ;
color: #000;
}
.price
{
font-family: "Roboto", sans-serif;
font-size: 25px;
font-weight: 400;
margin-right: 5px;
}
.prices select
{
    border-top: 2px solid #000;
    background-color: #d2d8dd;
    color: #000;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
.name
{
font-family: "Roboto", sans-serif;
font-size: 15px;
font-weight: 500;
line-height: 16.41px;
margin-right:10px ;
color: #00000080 ;
}
.names select,.brands select
{
    position: relative;
    right: 23px;
    background-color: #d2d8dd;
    color: #000;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    border-left:2px solid #000 ;
}
.btnDeleteA
{
    position: relative;
    display: flex;
    justify-content:space-between
} 
.btnDeleteA button
{
    position: absolute;
    bottom: 23px;
    right: 200px;
    font-size: 16px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.size,.category,.brand
{
font-family: "Roboto", sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 11.72px;
margin-right:10px ;
color: #00000080 ;
}

/*AddProducer */
.AddProducer p
{
font-family: "Urbanist", sans-serif;
font-size: 48px;
font-weight: 600;
line-height: 72px;
}
.AddProducer span
{
font-family: "Urbanist", sans-serif;
font-size: 18px;
font-weight: 300;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}

.label
{
    color: black;
    font-weight: 700;
    /* color: #5555; */
}

.btn
{
    padding: 3px 25px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #1B6541;
    color: white;
    margin-bottom: 40px;
}
.btn:hover
{
    background-color: black;
}
